src/main/mule/maven-ddeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="maven-ddeployFlow" doc:id="84a5d50a-4480-4192-a7ba-673c726454dc" >
		<scheduler doc:name="Scheduler" doc:id="39d5ea88-cc6a-4620-9756-5316fcb7172d" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<set-payload value='#["FUNCIONAOU OIUOIOUOUOUOUOUOUOUOUOUOUOUOUOU"]' doc:name="Set Payload" doc:id="1bbc415d-379f-48e1-a1d9-a8f6a8fd5294" />
		<logger level="INFO" doc:name="Logger" doc:id="cb78f49d-e9b3-4a40-ad8e-8fe9ca506aa6" message="#[payload]"/>
	</flow>
</mule>
